Source: xd
Section: net
Priority: optional
Maintainer: r4sas <r4sas@i2pmail.org>
Build-Depends: debhelper (>= 9~),
               dh-apparmor,
               dh-golang
Standards-Version: 3.9.8
Homepage: https://xd-torrent.github.io/
Vcs-Git: git://github.com/majestrate/XD.git
Vcs-Browser: https://github.com/majestrate/XD

Package: xd
Architecture: any
Multi-Arch: foreign
Depends: adduser, lsb-base (>= 3.0-6), ${misc:Depends}, ${shlibs:Depends}
Built-Using: ${misc:Built-Using}
Suggests: i2pd, apparmor
Description: I2P BitTorrent Client written in GO
 .
 This package provides the daemon.
