#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_OPTIONS

export DH_GOPKG := github.com/majestrate/XD

%:
	dh $@ --buildsystem=golang --with=golang
	dh_apparmor --profile-name=usr.bin.XD -pxd

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp

override_dh_auto_test:

